<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid list-margin">
        <div class="row justify-content-center" id="center">
            <div class="col-md-6">
                <h2> Terdapat masalah pada web-server</h2>
            </div>
        </div>        
        <div class="row justify-content-center" id="center">
            <div class="col-md-4">
                <a th:href="@{/}" class="btn but-success">
                    Kembali ke Beranda
                </a>
            </div>
        </div>
    </div>        
</body>
</html>