<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid">
        <div th:if="${message} != null">  
            <div class="row justify-content-center">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header">
                            Error
                        </div>
                        <div class="card-body">                
                            <div class="form-row">
                                <div class="col-11">
                                    <div th:text="${message}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a th:href="@{/}" class="btn btn-success">
                        Kembali
                    </a>
                </div>
            </div>
        </div>
        <div th:unless="${message} != null">
            <section>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-header" id="text-center">
                                <h4>Detail Penerbangan</h4>
                            </div>
                            <div class="card-body">                
                                <div class="form-row">
                                    <div class="col-5">
                                        <div th:text="'ID'"></div>
                                        <br>
                                        <div th:text="'Kode Penerbangan'"></div>
                                        <br>
                                        <div th:text="'Waktu'"></div>
                                        <br>
                                        <div th:text="'Kota Asal'"></div>
                                        <br>
                                        <div th:text="'Kota Tujuan'"></div>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <div th:text="': ' + ${penerbangan.getIdPenerbangan()}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.kodePenerbangan}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.waktuPenerbangan}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.kotaAsal}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.kotaTujuan}"></div>
                                        <br>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <a th:href="@{/penerbangan/ubah/} + ${penerbangan.idPenerbangan}" class="btn btn-success">Ubah Pilot</a>
                                    <a th:href="@{/penerbangan/hapus/} + ${penerbangan.idPenerbangan}" class="btn btn-danger">Hapus Pilot</a>
                                </div>                            
                            </div>
                        </div>
                    </div>             
                </div>
            </section>
            <br><br> 
            <section>
                <div class="row justify-content-center">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-header" id="text-center">
                                <h4>Daftar Pilot</h4>
                            </div>
                            <div class="card-body">                
                                <div class="form-row">
                                    <div class="col">
                                        <table class="table" id="center">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama</th>
                                                    <th>NIP</th>
                                                    <th>Tanggal Lahir</th>
                                                    <th>Jenis Kelamin</th>
                                                    <th>Tanggal Penugasan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="pilot, iterationStatus : ${listPilot}">
                                                    <td th:text="${iterationStatus.count}"></td>
                                                    <td th:text="${pilot.pilotModel.idPilot}"></td>
                                                    <td th:text="${pilot.pilotModel.namaPilot}"></td>
                                                    <td th:text="${pilot.pilotModel.nomorNIP}"></td>
                                                    <td th:text="${pilot.pilotModel.tanggalLahir}"></td>
                                                    <td th:text="${pilot.pilotModel.jenisKelamin}"></td>
                                                    <td th:text="${pilot.tanggalPenugasan}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>           
        </div>
    </div>
</body>
</html>