<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid list-margin">
        <div th:if="${message} != null">  
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            Error
                        </div>
                        <div class="card-body">                
                            <div class="form-row">
                                <div class="col-11">
                                    <div th:text="${message}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a th:href="@{/}" class="btn but-success">
                        Kembali
                    </a>
                </div>
            </div>
        </div>
        <div th:unless="${message} != null">
            <section>
                <div class="row justify-content-center list-margin">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header" id="text-center">
                                <h4>Detail Penerbangan</h4>
                            </div>
                            <div class="card-body">                
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div th:text="'ID'"></div>
                                        <br>
                                        <div th:text="'Kode Penerbangan'"></div>
                                        <br>
                                        <div th:text="'Waktu'"></div>
                                        <br>
                                        <div th:text="'Kota Asal'"></div>
                                        <br>
                                        <div th:text="'Kota Tujuan'"></div>
                                        <br>
                                    </div>
                                    <div class="col-md-4">
                                        <div th:text="': ' + ${penerbangan.getIdPenerbangan()}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.kodePenerbangan}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.waktuPenerbangan}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.kotaAsal}"></div>
                                        <br>
                                        <div th:text="': ' + ${penerbangan.kotaTujuan}"></div>
                                        <br>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <a th:href="@{/penerbangan/ubah/} + ${penerbangan.idPenerbangan}" class="btn but-success">Ubah</a>
                                    <a th:href="@{/penerbangan/hapus/} + ${penerbangan.idPenerbangan}" class="btn but-danger">Hapus</a>
                                </div>                            
                            </div>
                        </div>
                    </div>             
                </div>
            </section>
            <br><br> 
            <section>
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <form th:action="@{/penerbangan/}+${idPenerbangan}+@{/pilot/tambah}" th:object="${pilotPenerbangan}" method="POST">
                            <div class="row">
                                <div class="col-4">
                                    <input type="hidden" name="penerbanganModel"  th:value="${penerbangan.idPenerbangan}" id="no_penerbangan">
                                    <p>Pilih Pilot:</p>
                                    <select name="pilotModel" class="form-control" id="no_pilot" required>
                                        <option selected value="">-- PILIH NAMA PILOT --</option>
                                        <option th:each="pilot : ${listPilot}" th:text="${pilot.namaPilot}" th:value="${pilot.idPilot}"></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <p></p><br>
                                    <button class="btn but-success" type="submit" value="Submit">Submit</button>
                                </div>
                            </div>                            
                        </form>
                        <br>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-header" id="text-center">
                                <h4>Daftar Pilot</h4>
                            </div>
                            <div class="card-body">                
                                <div class="form-row">
                                    <div class="col">
                                        <table class="table table-hover table-fixed" id="center">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama</th>
                                                    <th>NIP</th>
                                                    <th>Tanggal Lahir</th>
                                                    <th>Jenis Kelamin</th>
                                                    <th>Tanggal Penugasan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="pilotPenerbangan, iterationStatus : ${listPilotPenerbangan}">
                                                    <td th:text="${iterationStatus.count}"></td>
                                                    <td th:text="${pilotPenerbangan.pilotModel.namaPilot}"></td>
                                                    <td th:text="${pilotPenerbangan.pilotModel.nomorNIP}"></td>
                                                    <td th:text="${pilotPenerbangan.pilotModel.tanggalLahir}"></td>
                                                    <td th:if="${pilotPenerbangan.pilotModel.jenisKelamin} == '1'">Laki-Laki</td>
                                                    <td th:if="${pilotPenerbangan.pilotModel.jenisKelamin} == '2'">Perempuan</td>
                                                    <td th:text="${pilotPenerbangan.tanggalPenugasan}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>           
        </div>
    </div>
</body>
</html>