<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid">
        <div th:if="${message} != null">  
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Error
                        </div>
                        <div class="card-body">                
                            <div class="form-row">
                                <div class="col-11">
                                    <div th:text="${message}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a th:href="@{/}" class="btn btn-success">
                        Kembali
                    </a>
                </div>
            </div>
        </div>
        <div th:unless="${message} != null">
            <section>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-header" id="text-center">
                                <h4>Detail Pilot</h4>
                            </div>
                            <div class="card-body">                
                                <div class="form-row">
                                    <div class="col-5">
                                        <div th:text="'ID'"></div>
                                        <br>
                                        <div th:text="'Nama'"></div>
                                        <br>
                                        <div th:text="'NIK'"></div>
                                        <br>
                                        <div th:text="'Jenis Kelamin'"></div>
                                        <br>
                                        <div th:text="'NIP'"></div>
                                        <br>
                                        <div th:text="'Tempat Lahir'"></div>
                                        <br>
                                        <div th:text="'Tanggal Lahir'"></div>
                                        <br>
                                        <div th:text="'Sekolah'"></div>
                                        <br>
                                        <div th:text="'Maskapai'"></div>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <div th:text="': ' + ${pilot.idPilot}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.namaPilot}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.nomorNIK}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.jenisKelamin}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.nomorNIP}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.tempatLahir}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.tanggalLahir}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.getAkademiModel().getNamaAkademi()}"></div>
                                        <br>
                                        <div th:text="': ' + ${pilot.getMaskapaiModel().getNamaMaskapai()}"></div>
                                        <br>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <a th:href="@{/pilot/ubah/} + ${pilot.nomorNIK}" class="btn btn-success">Ubah Pilot</a>
                                    <a th:href="@{/pilot/hapus/} + ${pilot.idPilot}" class="btn btn-danger">Hapus Pilot</a>
                                </div>                            
                            </div>
                        </div>
                    </div>             
                </div>
            </section>
            <section>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card">
                            <div class="card-header">
                                <h4>Jadwal Bertugas</h4>
                            </div>
                            <div class="card-body">                
                                <div class="form-row">
                                    <div class="col-11">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Kode Penerbangan</th>
                                                    <th>Waktu</th>
                                                    <th>Kota Asal</th>
                                                    <th>Kota Tujuan</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="penerbangan, iterationStatus : ${listPenerbangan}">
                                                <tr th:each="penerbangan, iterationStatus : ${listPenerbangan}">
                                                    <td th:text="${iterationStatus.count}"></td>
                                                    <td th:text="${penerbangan.penerbanganModel.idPenerbangan}"></td>
                                                    <td th:text="${penerbangan.penerbanganModel.kodePenerbangan}"></td>
                                                    <td th:text="${penerbangan.penerbanganModel.waktuPenerbangan}"></td>
                                                    <td th:text="${penerbangan.penerbanganModel.kodeAsal}"></td>
                                                    <td th:text="${penerbangan.penerbanganModel.kode_tujuan}"></td>
                                                    <td>
                                                        <a th:href="@{#} + ${penerbangan.idPenerbangan}" class="btn btn-success">Lihat</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
        </div>
    </div>
</body>
</html>