<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container" id="center">
            <div class="col">
                <h1 class="title">Selamat Datang di SIPILOT!</h1>
                <p class="subtitle">Sistem informasi untuk manajemen pengelolaan pilot dan jadwal penerbangan</p>
            </div>                
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" id="center">
            <div class="col">
                <h2 class="fitur"> Daftar Fitur</h2>
                <br>
                <div class="row justify-content-center list-fitur">
                    <div class="list-pilot col-md-3 fix">
                        <p>List Pilot</p>
                        <img th:src="@{/img/pilot-icon.png}">
                        <a th:href="@{/pilot}" class="btn">
                            Pilot
                        </a>
                    </div>
                    <div class="list-penerbangan col-md-3 fix">
                        <p>List Penerbangan</p>
                        <img th:src="@{/img/plane-icon.png}">
                        <a th:href="@{/penerbangan}" class="btn">
                            Penerbangan
                        </a>
                    </div>
                    <div class="cari-pilot col-md-3 fix">
                        <p>Cari Pilot</p>
                        <img th:src="@{/img/search-icon.png}">
                        <a th:href="@{/cari}" class="btn">
                            Cari
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>
</html>