* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
}

.navbar .brand {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 43px;
    /* identical to box height */

    text-align: center;

    color: #80C0FF;
}

.navbar .menu {
    font-size: 15px;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#center {
    align-items: center;
    text-align: center;
}

#text-center {
    text-align: center;
}

/* Home */
.jumbotron {
    height: auto;
    margin-bottom: 75px;

    background: 
    linear-gradient(110.85deg,
    #FFFFFF 38.72%,
    rgba(255, 255, 255, 0.88) 60.95%, 
    rgba(255, 255, 255, 0) 81.64%), 
    linear-gradient(270deg,
    rgba(0, 90, 179, 0.67) 0%,
    rgba(191, 223, 255, 0.39) 100%);
}

.jumbotron .title {
    margin-top: 60px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 46px;
    letter-spacing: 0.085em;

    color: #003F7D;
}

.jumbotron .subtitle {
    margin-top: 10px;
    margin-bottom: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.1em;

    color: #5E5D5D;
}

.jumbotron img {
    /* position: absolute; */
    width: 200px;
    height: 200px;
    /* right: 122px;
    top: 103px; */
}

.fitur {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 49px;
    letter-spacing: 0.045em;

    color: #000000;
}

.list-fitur p {
    margin: 20px 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.045em;

    color: #000000;
}

.list-fitur img {
    padding: 30px;
    width: 258.55px;
    height: 258.24px;
    /* margin: 20px 20px; */
}

.fix {
    align-items: center;
    margin: 50px;

    max-width: 316px;
    min-height: height auto;
    min-width: 316px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    transition: all .2s;
}

.fix:hover {    
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.1)
}

.list-fitur a {
    margin-bottom: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.045em;

    color: #FFFFFF;
    
    background: #005AB3;
    border-radius: 5px;
}

.card {
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.25);
    width: auto;
}

.card-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: #FFFFFF;
    background: #003F7D;
    border-radius: 5px;
}

.btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.but-add-success {
    margin-top: 100px;
    color: #FFFFFF;
    background: #005AB3;
    border-radius: 5px;
}

.but-add-success:hover {
    color: #FFFFFF;
    background: #80C0FF;
}

.but-success {
    margin: 5px 10px;
    color: #FFFFFF;
    background: #BFDFFF;
    border-radius: 5px;
}

.but-success:hover {
    color: #FFFFFF;
    background: #005AB3;
}

.but-outline {
    margin: 5px 10px;
    color: #5E5D5D;;
    border: 4px solid #BFDFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.but-outline:hover {
    color: #FFFFFF;
    border: 4px solid #005AB3;;
    background: #005AB3;
}

.but-danger {    
    margin: 5px 10px;
    color: #FFFFFF;
    background: #FFA5A5;
    border-radius: 5px;
}

.but-danger:hover {
    color: #FFFFFF;
    background: #FF5555;
}

/* List margin */
.list-margin{
    margin-top: 100px;
}

